spring:
  cloud:
    gateway:
#     路由规则配置：以下配置定义了两个路由规则，分别路由到service-order和service-product服务，按顺序匹配
      routes:
        - id: order-route
#          路由到service-order服务
          uri: lb://service-order
#          断言，路径匹配/api/order/**开头的所有请求
          predicates:
            - name: Path
              args:
                pattern: /api/order/**
#                匹配路径中的尾斜杠，默认false,如果设置为true,则会匹配/api/order/**和/api/order/**/
                matchTrailingSlash: true
#          路由优先级，数值越小，优先级越高
          order: 0
#          过滤，去掉路径中的/api/order前缀
#          filters:
#            - StripPrefix=1
        - id: product-route
          uri: lb://service-product
          predicates:
            - Path=/api/product/**
          order: 1
#          过滤，去掉路径中的/api/order前缀
#          filters:
#            - StripPrefix=1
#           路径重写，将/api/product/前缀替换为/
#            - RewritePath=/api/product/(?<segment>.*), /$\{segment}
#           请求头添加，添加一个X-Request-Id请求头，值为123456
#             - AddRequestHeader=X-Request-Id, 123456
#          默认路由，当其他路由都不匹配时，路由到默认服务（相当于兜底路由）
#        - id: default-route
#          uri: https://cn.bing.com/
#          predicates:
#            - Path=/**
#          order: 2000
#          测试路由,必须满足路由http://localhost/search?q=haha&user=admin
        - id: test-route
          uri: https://cn.bing.com/
          predicates:
            - name: Path
              args:
                pattern: /search
#            Query参数断言，匹配查询参数q的值是否包含haha
            - name: Query
              args:
#                匹配查询参数q的值是否包含haha
                param: q
#                匹配查询参数q的值是否包含haha
                regexp: haha
#             自定义断言
#            - Vip=user,admin
#            长写法，自定义断言，校验vip参数的值是否包含指定的字符串，value的值是admin
            - name: Vip
              args:
                param: user
                value: admin
          order: 2
#          路由元数据，自定义键值对，可在路由中使用，如在过滤器中使用
#          这里定义了一个键为hello，值为world的元数据
          metadata:
            hello: world
#          全局默认过滤器，对所有路由生效
      default-filters:
          - AddResponseHeader=X-Response-Id, 123456
